@media all and (max-width:1170px){
  #wrap #header .container .gap .wrap #nav-wrap #nav > ul{
    display:none;
  }
  #wrap #header .container .gap .wrap #nav-wrap #nav .mobile-hambuger-menu{
    display:flex; // 1170px 이하면, 햄버거 메뉴가 보이도록 설정
  }
  #wrap #main #section1 .container .gap .wrap .slide-container .slide-view .slide-wrap .slide .title{
    h3{
      font-size:1.53846vw;
    }
    h2{
      font-size:5.982905983vw;
    }
  }

  #wrap{
    #main{
      #section2{
        padding:90px 100px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 60px 0;
              }
              .content{
                ul{
                  li{
                    .content-gap{
                      .content-wrap{
                        .content-bottom{
                          padding:30px 15px;
                          >span{
                            width:17.5214vw;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section3{
        padding:90px 30px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 60px 0;
                h2{
                  font-size:27px;
                }
              }
              .content{
                >ul{
                  >li{
                    .content-gap{
                      .content-wrap{
                        ul{
                          padding:12px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section6{
        padding:90px 30px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 60px 0;
                h2{
                  font-size:27px;
                }
              }
            }
          }
        }
      }
      #section7{
        .container{
          .gap{
            .wrap{
              .right-box{
                .right-content-box{padding:80px;}
              }
            }
          }
        }
      }
      #section8{
        padding:90px 30px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 60px 0;
                h2{
                  font-size:27px;
                }
              }
              .content{
                .content-gap{
                  .content-wrap{
                    .content-mid{
                      a{
                        display:block;
                        width:90%;
                        br{
                          display:none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section9{
        .container{
          .gap{
            .wrap{
              span{
                font-size:18px;
              }
            }
          }
        }
      }
    }
    #footer{
    .container{
      .gap{
        .wrap{
          width:85%;
          margin:0 auto;
          .top-box{
            padding:60px 0 30px 0;
            .top-title1{
              h6{
                width:100%;
                font-size:22px;
              }
            }
          }
        }
      }
    }
    }
  }
}

@media all and (max-width:1024px){
  #wrap{
    #main{
      #section2{
        padding:80px 0;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                p{
                  font-size:22px;
                }
              }
              .content{
                ul{
                  flex-flow:row wrap;
                  li{
                    width:50%;
                    .content-gap{
                      margin:15px;
                      .content-wrap{
                        .content-bottom{
                          padding:40px;
                          p{
                            padding:0 0 30px 0;
                          }
                          >span{
                            a{
                              span{
                                strong{
                                  font-size:12px;
                                  padding:0 0 0 15px;
                                }
                                i{
                                  padding:0 15px 0 0;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section3{
        padding:80px 60px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:24px;
                }
              }
              .content{
                >ul{
                  flex-flow:row wrap;
                  >li{
                    width:50%;
                    .content-gap{
                      margin:15px;
                      .content-wrap{
                        ul{
                          padding:40px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section5{
        padding:80px 60px;
        .container{
          .gap{
            .wrap{
              ul{
                flex-flow:row wrap;
                li{
                  width:50%;
                  .col-gap{
                    margin:60px 0;
                  }
                }
              }
            }
          }
        }
      }
      #section6{
        padding:80px 60px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:24px;
                }
              }
              .content{
                >ul{
                  flex-flow:row wrap;
                  >li{
                    width:50%;
                    .content-gap{
                      margin:15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section7{
        .container{
          .gap{
            .wrap{
              flex-flow:column wrap;
              .left-box{
                width:100%;
                height:400px;
              }
              .right-box{
                width:100%;
                text-align:center;
                .right-content-box{
                  padding:85px;
                  h2{
                    font-size:30px;
                  }
                  p{
                    padding:0 0 25px 0;
                  }
                  a{
                    margin:0 auto;
                  }
                }
              }
            }
          }
        }
      }
      #section8{
        padding:80px 60px;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:24px;
                }
              }
              .content{
                ul{
                  flex-flow:row wrap;
                  li{
                    width:50%;
                    .content-gap{
                      margin:15px;
                      .content-wrap{
                        .content-mid{
                          a{
                            width:100%;
                          }
                        }
                        .content-bottom{
                          padding:20px 0 0 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section9{
        padding:60px 40px;
        .container{
          .gap{
            .wrap{
              flex-flow:column wrap;
              >span{
                margin:0 auto;
                padding:0 0 30px 0;
                font-size:18px;
                text-align:center;
                line-height:130%;
              }
              a{
                margin:0 auto;
              }
            }
          }
        }
      }
    }
    #footer{
      .container{
        .gap{
          .wrap{
            .top-box{
              flex-flow:row wrap;
              .top-title1{
                width:100%;
                padding:0 0 20px 0;
              }
              .top-title2{
                width:50%;
                padding:0;
              }
              .top-title3{
                width:50%;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width:768px){
  #wrap{
    #main{
      #section2{
        padding:40px 0;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                p{
                  font-size:18px;
                  padding:0 15px;
                }
              }
              .content{
                ul{
                  li{
                    width:100%;
                    .content-gap{
                      .content-wrap{
                        .content-bottom{
                          padding:15px;
                          h3{
                            font-size:12px;
                            padding:10px 0 20px 0;
                          }
                          p{
                            font-size:12px;
                            padding:0 0 20px 0;
                          }
                          >span{
                            width:40%;
                            a{
                              span{
                                strong{
                                  font-size:11px;
                                }
                                i{
                                  font-size:15px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section3{
        padding:40px 0;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:20px;
                  padding:0 15px;
                }
              }
              .content{
                >ul{
                  >li{
                    width:100%;
                    h5{
                      font-size:12px;
                    }
                    p{
                      font-size:12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section4{
        .container{
          .gap{
            .wrap{
              .menu-box{
                >ul{
                  flex-flow:column wrap;
                  >li{
                    width:100%;
                    margin:5px 0;
                  }
                }
              }
            }
          }
        }
      }
      #section5{
        .container{
          .gap{
            .wrap{
              ul{
                li{
                  width:100%;
                }
              }
            }
          }
        }
      }
      #section6{
        padding:40px 0;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:20px;
                  padding:0 15px;
                }
              }
              .content{
                >ul{
                  >li{
                    width:100%;
                    .text-box{
                      width:100%;
                      margin:0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #section7{
        .container{
          .gap{
            .wrap{
              .right-box{
                .right-content-box{
                  padding:30px 0;
                  h2{
                    font-size:24px;
                  }
                  p{
                    font-size:12px;
                  }
                }
              }
            }
          }
        }
      }
      #section8{
        padding:40px 0;
        .container{
          .gap{
            .wrap{
              .title{
                padding:0 0 40px 0;
                h2{
                  font-size:20px;
                  padding:0 15px;
                }
              }
              .content{
                >ul{
                  >li{
                    width:100%;
                    .content-gap{
                      .content-wrap{
                        text-align:center;
                        .content-mid{
                          padding:15px 0;
                        }
                        .content-bottom{
                          padding:15px 0 0 0;
                          p{
                            font-size:12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #footer{
      padding:30px 0;
      .container{
        .gap{
          .wrap{
            .top-box{
              flex-flow:column wrap;
              padding:0;
              .top-title{
                padding:0;
                text-align:center;
              }
              .top-title1{
                width:100%;
                padding:0 0 30px 0;
                h6{
                  font-size:18px;
                }
              }
              .top-title2{
                width:100%;
                padding:0;
                padding:0 0 30px 0;
                span{
                  font-size:12px;
                }
              }
              .top-title3{
                width:100%;
                padding:0 0 30px 0;
                ul{
                  justify-content:center;
                }
              }
            }
            .bottom-box{
              flex-flow:column wrap;
              justify-content:center;
              padding:15px 0 0 0;
              .left-box{
                margin:0 auto 10px auto;
              }
              .right-box{
                margin:0 auto;
              }
            }
          }
        }
      }
    }
  }
}